{% load static %}
<!-- Breadcrumb Start -->
{% if shop %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                {% comment %} <a class="breadcrumb-item text-dark" href="#">Cart</a> {% endcomment %}
                <span class="breadcrumb-item active">Products</span>
            </nav>
        </div>
    </div>
</div>
{% elif detail %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="{% url 'shop' %}">Products</a>
                <span class="breadcrumb-item active">Product details</span>
            </nav>
        </div>
    </div>
</div>
{% elif cart  %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                {% comment %} <a class="breadcrumb-item text-dark" href="#">Cart</a> {% endcomment %}
                <span class="breadcrumb-item active">Cart</span>
            </nav>
        </div>
    </div>
</div>
{% elif contact  %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                <span class="breadcrumb-item active">Contact</span>
            </nav>
        </div>
    </div>
</div>

{% endif %}
<!-- Breadcrumb End -->