{% extends "client/common/layout.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                    {% comment %} <a class="breadcrumb-item text-dark" href="#">Cart</a> {% endcomment %}
                    <span class="breadcrumb-item active">Products</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form action="{% url 'searchproduct' %}" method="get" id="price-form">
                        {% csrf_token %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="pricerange" value ="all"id="price-all" {% if all %} checked {% endif %} onchange="submitForm()" >
                            <label class="custom-control-label" for="price-all">All</label>
                            <span class="badge border font-weight-normal">{{ totaltoys }}</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" name="pricerange" value ="{{ counts.0.0 }}" {% if pricerange == '0-1000' %} checked{% endif %} id="price-1" onchange="submitForm()" >
                            <label class="custom-control-label" for="price-1">{{ counts.0.0 }}</label>
                            <span class="badge border font-weight-normal">{{ counts.0.1 }}</span>
                        </div>
                       
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2" name="pricerange"  value="{{ counts.1.0 }}" {% if pricerange == '1000-2000' %} checked{% endif %} onchange="submitForm()">
                            <label class="custom-control-label" value = "0-100"for="price-2">{{ counts.1.0 }}</label>
                            <span class="badge border font-weight-normal">{{ counts.1.1 }}</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3" name="pricerange"   value="{{ counts.2.0 }}" {% if pricerange == '2000-4000' %} checked{% endif %} onchange="submitForm()">
                            <label class="custom-control-label" for="price-3">{{ counts.2.0 }}</label>
                            <span class="badge border font-weight-normal">{{ counts.2.1 }}</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4"  name="pricerange" value="{{ counts.3.0 }}"  {% if pricerange == '4000-10000' %} checked{% endif %} onchange="submitForm()">
                            <label class="custom-control-label" for="price-4">{{ counts.3.0 }}</label>
                            <span class="badge border font-weight-normal">{{ counts.3.1 }}</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-5" value="{{counts.4.0}}" name="pricerange"  {% if pricerange == '10000-1000000' %} checked{% endif %} onchange="submitForm()">
                            <label class="custom-control-label" for="price-5">{{counts.4.0}}</label>
                            <span class="badge border font-weight-normal">{{ counts.4.1 }}</span>
                        </div>
                        {% comment %} <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-5" {% if pricerange == '5000,1000' %} checked{% endif %}value="10000+" name="pricerange" onchange="submitForm()">
                            <label class="custom-control-label" for="price-5">10000+</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div> {% endcomment %}
                        {% if searched_product and filter %}
                        <input type="hidden" name="filter" id="filter-input" value="{{ filter }}">
                        <input type="hidden" name="name" id="name-input" value="{{ searched_product }}">
                        {% elif searched_product %}
                        <input type="hidden" name="name" id="name-input" value="{{ searched_product }}">
                        {% elif filter %}
                        <input type="hidden" name="filter" id="filter-input" value="{{ filter }}">
                        {% endif %}
                    </form>
                </div>
            
                    

                <script>
            
                    function submitForm() {
                        document.getElementById('price-form').submit();
                    }
                </script>  
                <!-- Price End -->
                
                <!-- Color Start -->
    
                {% comment %} <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5> {% endcomment %}
                {% comment %} <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All Color</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div> {% endcomment %}
                <!-- Color End -->

                <!-- Size Start -->
                {% comment %} <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div> {% endcomment %}
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                               
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/client/searchproduct/{% if searched_product and pricerange %}?name={{searched_product}}&pricerange={{pricerange}}&filter=purchasePrice {% elif searched_product %}?filter=purchasePrice&name={{searched_product}}{% elif pricerange %}?filter=purchasePrice&pricerange={{pricerange}} {% endif%}">low to high</a>
                                        <a class="dropdown-item" href="/client/searchproduct/{% if searched_product and pricerange %}?name={{searched_product}}&pricerange={{pricerange}}&filter=-purchasePrice {% elif searched_product %}?filter=-purchasePrice&name={{searched_product}}{% elif pricerange %}?filter=-purchasePrice&pricerange={{pricerange}} {% endif%}">high to low</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if msg %}
                    <div class="bg-light p-30 mb-3">
                        <p class="mb-2">{{msg}}</p>
                    </div>
                    {% else %}
                    {% for product in page_obj  %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{product.img_url}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'addtocart' product.id %}"><i class="fa fa-shopping-cart"></i></a>
                                    {% comment %} <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a> {% endcomment %}
                                    <a class="btn btn-outline-dark btn-square" href="/client/searchproduct/?name={{product.name}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="{% url 'detail' product.id%}">{{product.name}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{product.purchasePrice}}</h5><h6 class="text-muted ml-2"><del>{{product.increasedPrice}}</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?name={{searched_product}}&page={{ page_obj.previous_page_number }}">Previous</span></a></li>
                            {% endif %}
                            {% if page_obj.number == 1  %}
                            <li class="page-item active"><a class="page-link" href="?name={{searched_product}}&age=1">1</span></a></li>
                            {% endif %}
                            {% if page_obj.number != 1 %}
                            <li class="page-item active"><a class="page-link" href="?name={{searched_product}}&page={{ page_obj.number }}">{{page_obj.number}}</a></li>
                            {% endif %}                            
                            {% if page_obj.has_next %}
                            <li class="page-item "><a class="page-link" href="?name={{searched_product}}&page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li>
                            <li class="page-item"><a class="page-link" href="?name={{searched_product}}&page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                          </ul>
                        </nav>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    {% endblock content %}