{% extends "admin/common/layout.html" %}
{% load static %}
{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5>ADD TOY</h5>
                        </div>
                        <div class="card-body">
                            <form action = "{% url 'storetoy' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {%if messages%}
                                   {% for message in messages%}
                                    {% if 'success' in message.tags %}
                                   <div class="alert alert-success" role="alert">
                                    {{message}}
                                </div>
                                {% elif 'error'  in message.tags%}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                                {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Toy Name</label>
                                        </div>
                                    </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input type="text" name = "toyname" value = "{{toyname}}" class="form-control" placeholder="Text" required>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-20 col-form-label" >Toy description</label>
                                        </div>
                                    </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <textarea class="form-control" name = "toydiscription"  id="exampleFormControlTextarea1" rows="3" required>{{toydescription}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                <div class="row justify-content-md-center">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label class="col-sm-20 col-form-label">Available for purchase</label>
                                            </div>
                                        </div>
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <select id="purchaseinput" name = "availableforpurchase" class="form-control">
                                                        <option {% if afp %}selected{% endif %} value="True">Yes</option>
                                                        <option {% if notafp %}selected{% endif %} value="False">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                <div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Purchase price</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">&#x20b9;</span>
                                                    </div>
                                                    <input type="number" class="form-control" value ="{{pprice}}" name = "purchaseprice"aria-label="Amount (to the nearest dollar)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-20 col-form-label">Available for rent</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <select id="rentinput" name = "availableforrent"class="form-control">
                                                <option {% if afr %}selected{% endif %} value="True">Yes</option>
                                                <option {% if notafr %}selected{% endif %} value="False">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Rent price</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">&#x20b9;</span>
                                                    </div>
                                                    <input type="number" class="form-control" value="rprice" name = "rentprice" aria-label="Amount (to the nearest dollar)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Quantity</label>
                                        </div>
                                    </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <input type="number" name = "quantity" value = "{{quantity}}" class="form-control" placeholder="99" required>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Category</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <select id="inputState" name = "category" class="form-control">
                                                {% for category in categories  %}
                                                <option value="{{category.id}}" {% if category.id == category %}selected{% endif %} >{{category.categoryName}}</option>
                                                {% endfor %}
                                        
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Sub-Category</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <select id="inputState" name = "subcategory" class="form-control">
                                                {% for subcategory in subcategories  %}
                                                <option value="{{subcategory.id}}" {% if subcategory.id == subcategory %}selected{% endif %} >{{subcategory.subcategoryName}}</option>
                                                {% endfor %}
                                        
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Select Store</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <select id="inputState" name = "store" class="form-control">
                                                {% for store in stores  %}
                                                <option value="{{store.id}}" {% if store.id == store %}{% endif %}>{{store.storeName}}</option>
                                                {% endfor %}
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-20 col-form-label">Select Manufacturer</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <select id="inputState" name = "manufacturer" class="form-control">
                                                {% for manufacturer in manufacturers  %}
                                                <option value="{{manufacturer.id}}" {% if manufacturer.id == manufacturer %}{% endif %} >{{manufacturer.manufacturerName}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Upload Image</label>
                                        </div>
                                    </div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <input type="file" name = "toyimage" class="custom-file-input" id="inputGroupFile01" required>
                                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                <button type="submit" class="btn-lg  btn-outline-primary">Add Toy</button>                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('inputGroupFile01');
        const fileLabel = document.querySelector('label[for="inputGroupFile01"]');
    
        fileInput.addEventListener('change', function (event) {
            const fileName = event.target.files[0] ? event.target.files[0].name : 'Choose file';
            fileLabel.textContent = fileName;
        });
    });
    </script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#alert-message').fadeOut('slow');
        }, 2000); // 2000 milliseconds = 2 seconds
    });
</script>
{% endblock content %}
<!-- [ Pre-loader ] End -->
<!-- [ navigation menu ] start -->

<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
{% comment %} included in header.html {% endcomment %}
<!-- [ Header ] end -->