{% extends "admin/common/layout.html" %}
{% load static %}
{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-sm-12">
            <form  method="post" action="{% url 'updatecategory' category.id %}">
                {% csrf_token %}    
                <div class="card text-center">
                    <div class="card-header">
                        <h5>UPDATE MAIN CATEGORY</h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="col-sm-12 col-form-label">Category Name</label>
                                </div>
                            </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Text" value="{{category.categoryName}}" name="categoryname">
                                    </div>
                                </div>
                            </div>
                    <div>
                </div>
                <button type="submit" class="btn  btn-outline-success">Update Category</button>
            </form>
            <a href="{%url 'showcategory' %}"class="btn  btn-primary">Category List</a>
        </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        $('.toast').toast('hide');
    }, 3000);
</script>
{% if messages %}
    {% for msg in messages  %}
        {% if 'categoryupdated' in  msg.tags %}
<div class="toast toast-3s fade show " role="alert" aria-live="assertive" data-delay="3000" aria-atomic="true">
    <div class="toast-header">
        <img src="assets/images/favicon.ico" alt="" class="img-fluid m-r-5" style="width:20px;">
        <strong class="mr-auto">Bootstrap 3s</strong>
        <small class="text-muted">1 mins ago</small>
        <button type="button" class="m-l-5 mb-1 mt-1 close" data-dismiss="toast" aria-label="Close">
            <span>x</span>
        </button>
    </div>
    <div class="toast-body">
        {{msg}}
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}
<!-- [ Pre-loader ] End -->
<!-- [ navigation menu ] start -->
<!-- [ navigation menu ] end -->
<!-- [ Header ] start -->
{% comment %} included in header.html {% endcomment %}
<!-- [ Header ] end -->